  <div class="nav btn-group">
    <% if current_user %>
      <a href="<%= new_topic_path %>" class="btn btn-dark">Créer</a>
      <a href="<%= edit_topic_path %>" class="btn btn-dark">Editer</a>
      <a href="<%= topic_path %>" class="btn btn-dark" data-confirm="Etes-vous sûr ?" data-method="DELETE">Supprimer</a>
    <% end %>
  </div>
