<h1>Editer le topic</h1>


<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <br><br><br>
      <%= form_for @topic, url: topic_path, html: { class: "form-signin mt-3" } do |f| %>
        <h1 class="h3 mb-3 font-weight-normal text-center">Modifier le sujet</h1>
        <div class="form-group">
          <%= f.label :title, "Titre" %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
        </div>
        <div class="actions mt-5">
          <%= f.submit "Mettre à jour", class: "btn btn-lg btn-primary btn-block" %>
        </div>
      <% end %>
    </div>
  </div>
</div>