<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3 text-light"><strong>Les sujets </strong><br></h1>
  </div>
</div>


	<table class="table row">
		<tbody class="container">
			<% @topics.sort_by(&:name).each do |topic| %>
			<tr>
				<td><%= topic.name %></td>
				<td><a href="<%= topic_path(topic.id)%>" class="btn btn-outline-primary">Voir tous les life-Hacks à ce sujet</a>
			</tr>
			<% end %>
		</tbody>
	</table>




	
