<h1>Les sujets</h1>

	<table class="table">
		<thead>
			<tr>
				<td>ID</td>
				<td>Nom</td>
			</tr>
		</thead>


		<tbody>
			<% @topics.each do |topic| %>
			<tr>
				<td><%= topic.id %></td>
				<td><%= topic.name %></td>
				<td><a href="<%= edit_topic_path(topic.id)%>" class="btn btn-info">Editer</a>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>

	<p><a href="<%= new_topic_path %>" class="btn btn-success">Créer un nouveau sujet</a></p>

