<%= form_for @topic do |f| %>
    <div class="form-group">
        <%= f.label :title, "Choisir un domaine :" %><br />
        <%= f.collection_select :domain_id, Domain.all, :id, :name, class: "form-control", :required => true %>
    </div>

	<div class="form-group">
		<%= f.text_field :name, placeholder:'Nom ', class: 'form-control' %>
	</div>
	<div class="form-group">
		<button class="btn btn-primary" type="submit">Créer le sujet</button>
	</div>

<% end %>



