<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3 text-light"><strong>Les domaines </strong><br></h1>
  </div>
</div>

		<li class="container card">
			<% @domains.sort_by(&:name).each do |domain| %>
				<h2><a href="<%= domain_path(domain.id)%>" class="badge badge-success"><%= domain.name %></a></h2>
			<% end %>
		</li>



